[Unit]
Description=Digital Signage Background Daemon
Documentation=https://github.com/OpenDigitalSignage

[Service]
Environment=DSB_NAME="dsbd-sample"
ExecStart=/usr/sbin/dsbs
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
